
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 56px;
    min-height: 100vh;

}

.navbar{
    background-color: rgb(23, 82, 23,0.518);
}

#indexFooter{
    background-color:rgb(118, 158, 118);
    position: absolute;
    bottom: 0;
    
}